.gameboard__container{
    display: flex;
    justify-content: center;
}

.gameboard{
    align-self: center;
    background-color: var(--second-color);
}

.cell{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
    color: #fff;
}
.piece{
    height: 40px;
    display: block;
    margin: auto;
}
.cells__red{
    background-color: var(--red-color);
    cursor: pointer;
}
.cells__blue{
    background-color: var(--blue-color);
    cursor: pointer;
}
.cells__green{
    background-color: var(--green-color);
}
.cells__blue:hover{
    background-color: var(--background-color);
    transition: all 0.2s ease-in;
    font-size:130%;
}
.cells__red:hover{
    background-color: var(--background-color);
    transition: all 0.2s ease-in;
    font-size:130%;
}
