
.menu__container{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.menu{
    align-self: center;
    background-color: var(--second-color);
}
.name_field{
    width: 128px;
    font-size: var(--normal-font-size);
}
.button{
    font-family: var(--body-font);
    background-color: transparent;
}