@(controller:de.htwg.se.stratego.controller.controllerComponent.ControllerInterface)


@main("Stratego"){

    <!-- ===== HEADER ===== -->
    <header class="l-header">
        <nav class="navbar navbar-expand-sm bd-grid">

            <a href="#" class="nav__logo navbar-brand"><img src="@routes.Assets.versioned("images/logo.png")" alt="StrategoLogo"></a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="@{routes.HomeController.index()}" target="_blank" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Game</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">New Game</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Load</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Save</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Quit</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <main class ="l-main">
            <!-- ===== Game ===== -->
        <section class="home bd-grid" id="home">
        <div class="gameboard__container">
            <table class="gameboard">
            @for(row <- 0 until controller.getSize) {
                <tr>
                @for(col <- 0 until controller.getSize) {
                        @if(controller.getField.field(row,col).isSet) {
                            @if(controller.getField.field(row, col).colour.get.value == 0) {
                                <td class="cells__blue cell">
                                    @controller.getField.field(row, col).character.get.figure.name match {
                                        case "F" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-flag.svg")" alt="1"/> </span>}
                                        case "B" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-bomb.svg")" alt="1"/> </span>}
                                        case "M" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-marshal.svg")" alt="1"/> </span>}
                                        case "1" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-spy.svg")" alt="1"/> </span>}
                                        case "2" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-scout.svg")" alt="1"/> </span>}
                                        case "3" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-miner.svg")" alt="1"/> </span>}
                                        case "4" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-sergeant.svg")" alt="1"/> </span>}
                                        case "5" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-lieutenant.svg")" alt="1"/> </span>}
                                        case "6" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-captain.svg")" alt="1"/> </span>}
                                        case "7" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-major.svg")" alt="1"/> </span>}
                                        case "8" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-colonel.svg")" alt="1"/> </span>}
                                        case "9" => { <span class="cell__blue"> <img class="piece" src="@routes.Assets.versioned("images/character-general.svg")" alt="1"/> </span>}
                                        case _ => {}
                                    }
                                </td>
                            } else if (controller.getField.field(row, col).colour.get.value == 1) {
                                <td class="cells__red cell">
                                    @controller.getField.field(row, col).character.get.figure.name match {
                                        case "F" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-flag.svg")" alt="1"/> </span>}
                                        case "B" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-bomb.svg")" alt="1"/> </span>}
                                        case "M" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-marshal.svg")" alt="1"/> </span>}
                                        case "1" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-spy.svg")" alt="1"/> </span>}
                                        case "2" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-scout.svg")" alt="1"/> </span>}
                                        case "3" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-miner.svg")" alt="1"/> </span>}
                                        case "4" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-sergeant.svg")" alt="1"/> </span>}
                                        case "5" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-lieutenant.svg")" alt="1"/> </span>}
                                        case "6" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-captain.svg")" alt="1"/> </span>}
                                        case "7" => { <span class="cell__red"> <img class="piece" src="@routes.Assets.versioned("images/character-major.svg")" alt="1"/> </span>}
                                        case "8" => { <span class="cell__red"> <img class="piece"src="@routes.Assets.versioned("images/character-colonel.svg")" alt="1"/> </span>}
                                        case "9" => { <span class="cell__red"> <img class="piece"src="@routes.Assets.versioned("images/character-general.svg")" alt="1"/> </span>}
                                        case _ => {}
                                    }
                                </td>
                            }
                        }else{
                                <td class="cells__green cell">
                                <span class="cell__empty"> </span>
                                </td>
                        }
                }
                </tr>
                }
            </table>
        </div>
        </section>
    </main>

}
