@(controller:de.htwg.se.stratego.controller.controllerComponent.ControllerInterface)

@main("Stratego"){
    <!-- ===== HEADER ===== -->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo"><img src="@routes.Assets.versioned("images/logo.png")" alt="StrategoLogo"></a>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class ="l-main">

            <!-- ===== Game ===== -->
        <section class="home bd-grid" id="home">
        <div class="gameboard__container">
            <table class="gameboard">
            @for(row <- 0 until controller.getSize) {
                <tr>
                @for(col <- 0 until controller.getSize) {
                    @{
                        if(controller.getField.field(row,col).isSet) {
                            if (controller.getField.field(row, col).colour.get.value == 0) {
                                    <td class="cells__blue cell">
                                    {
                                        if(controller.getField.field(row, col).character.get.figure.name.equals("F")) {
                                                <span class="cell__blue">&#x1F3F3;</span>
                                        } else if(controller.getField.field(row, col).character.get.figure.name.equals("B")) {
                                                <span class="cell__blue">&#x1F4A3;</span>
                                        } else if(controller.getField.field(row, col).character.get.figure.name.equals("M")) {
                                                <span class="cell__blue">&#x1F482;</span>
                                        } else {
                                                <span class="cell__blue">{controller.getField.field(row, col).character.get.figure.name}</span>
                                        }
                                    }
                                    </td>
                            } else if (controller.getField.field(row, col).colour.get.value == 1) {
                                    <td class="cells__red cell">
                                    {
                                        if(controller.getField.field(row,col).character.get.figure.name.equals("F")){
                                            <span class="cell__red">&#x1F3F3;</span>
                                        }else if(controller.getField.field(row,col).character.get.figure.name.equals("B")){
                                            <span class="cell__red">&#x1F4A3;</span>
                                        }else if(controller.getField.field(row,col).character.get.figure.name.equals("M")){
                                            <span class="cell__red">&#x1F482;</span>
                                        }else{
                                            <span class="cell__red">{controller.getField.field(row, col).character.get.figure.name}</span>
                                        }
                                    }
                                    </td>
                            }
                        }else{
                                <td class="cells__green cell">
                                <span class="cell__empty"> </span>
                                </td>
                        }
                    }
                }
                </tr>
                }
            </table>
        </div>
        </section>
    </main>
}
